#persons {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#persons td, #persons th {
    border: 1px solid #ddd;
    padding: 8px;
}

#persons tr:hover {background-color: #ddd;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

#create {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#create td, #create th {
    border: 1px solid #ddd;
    padding: 8px;
}

.create_button {
    text-align: center;
    padding-top: 50px;
}

.button_back {
    text-align: center;
    padding-top: 50px;
}